* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	margin: 50px auto;
	width: 960px;
}

.step-content {
	width: 300px;
	float: left;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	border: 1px solid gray;
}

.step-content:last-child {
	margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}


.step-number {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px;
	background-color: orange;
	color: white;
}


.title {
	margin: 15px 0 5px;
}

@media screen and (max-width:768px){

	main {
		width: 100%;
	}

	.step-content {
		width: 90%;
		float: none;
		margin: 0 auto 20px auto;
	}

	.step-content:last-child {
		margin: 0 auto;
	}
}
